// Blog styling
// Namespace with file's top-level id

#blogFilter {
  text-align: center;
  > ul.blogFilterMenus > li {
    display: inline-block;
    position: relative;
    height: auto;
    top: 0;
    vertical-align: top;
    > ul { display: none; }
    &:hover > ul {
      display: block;
      position: absolute;
      max-height: 400px;
      width: 200px;
      overflow-y: scroll;
      background-color: #1c1c1c;
      margin: 0;
      padding: 0;
      border: 1px solid #d1cccc;
      border-top: 0;
    }
  }
  li.blogFilterItem {
    margin: 0;
    padding: 10px;
    border-top: 1px solid #d1cccc;
    &:hover { background: #ffffff; }
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      border-bottom: 0;
      -webkit-transition: none;
      transition: none;
    }
  }
  h3, h3 + ul {
    display: inline-block;
    margin: 0 10px 10px 0;
    position: relative;
    zoom:1; //ie7/8 fix
    *display:inline; //ie7/8 fix
  }
}

#blogList {
  .content {
    columns: 4;
  }
}

#blogItem {

}
